body {
    margin: 0px;
    background-color: #F5F6F7;
}

.Header {
    margin: 153px auto 0px;
    cursor: pointer;
}

.HeaderWrapper {
    display: flex;
    margin-bottom: 60px;
}

.InputInformation {
    background-color: white;
    width: 400px;
    height: 45px;
    font-size: 14px;
    display: flex;
    border: 1px solid #dadada;
    margin: auto;
    margin-top: 7px;
}

.InputBox {
    border: 0px;
    width: 370px;
    height: 30px;
    margin: auto;
    margin-left: 8px;
    margin-right: 28px;
    cursor: pointer;
}

.Information {
    margin: 0 auto;
    display: inline-block;
    width: 400px;
    height: 500px;
}

.BodyWrapper {
    display: flex;
}

#Login {
    cursor: pointer;
    color: white;
    margin-top: 18px;
    width: 400px;
    height: 54px;
    background-color: #03C75A;
    border: 1px solid #03b351;
    font-size: 16px;
}

.Back {
    margin: 0 auto;
}

.Warning {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 12px;
    color: red;
    display: none;
}